@import "bootstrap/bootstrap";

@include media-breakpoint-up(md){
    .container {
      max-width: 1150px;
    }
  }
  
  @include media-breakpoint-down(sm){
    .container {
      max-width: 375px;
    }

  }

body {
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.menu-icon1{
    background-image: url(../newshomepage/icon-menu.svg);
}

.navButton{
    z-index: 2;
    @include media-breakpoint-down(sm){
        position: fixed;
        top: 2.3rem;
        background-color: white;
        padding-bottom: 7px;
    }
    
}

.navbar-collapse {
    @include media-breakpoint-down(sm){
        position: fixed;
        top: 0px;
        left: 100%;
        padding-top: 170px;
        padding-left: 25px;
        padding-right: 15px;
        padding-bottom: 500px;
        width: 100%;
        transition: all 0.4s ease;
        display: block;
        background: white;
        margin-left: 120px;
        font-size: 16px;
        height: 100vh;
        z-index: 1;
    }
    @media (min-width: 520px) and (max-width: 574px) {
        margin-left: 200px;
    }
}

.navbar-toggler{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-collapse.show {
    @include media-breakpoint-down(sm){
        left: 0;
        box-shadow: -200px 0px 0px #00000094;
    }
}
.navbar-collapse.collapsing {
    @include media-breakpoint-down(sm){
        height: auto !important;
        margin-left: 50%;
        left: 50%;
        transition: all 0.2s ease;
    }
}

.nav-link:hover{
    color: hsl(5, 85%, 63%);
}

.nav-item{
    font-size: 16px;
    margin-right: 1rem;
    @include media-breakpoint-down(sm){
        margin-bottom: 0.23rem;
    }
    &:nth-last-of-type(1){
        margin-right: 0;
    }
}

h1{
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    font-size: 55px;
    line-height: 3.5rem;
}

h2{
    font-size: 28px;
    color: hsl(233, 8%, 79%);
    font-weight: 700;
}

h3{
    font-weight: 800;
    font-size: 16px;
    color: hsl(240, 100%, 5%);
}

p{
    color: hsl(236, 13%, 42%);
}

.header{
    margin-bottom: 3rem;
    @include media-breakpoint-down(md){
        margin-bottom: 1.7rem;
    }
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: white !important;
  }

.marginOnPage{
    margin-top: 4.5rem;
    margin-bottom: 8rem;
    @include media-breakpoint-down(md){
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }
}

.paddingRight{
    padding-right: 0 !important;
}

.shapes-desktop{
    @include media-breakpoint-down(sm){
        display: none;
    }
}

.shapes-mobile{
    display: none;
    @include media-breakpoint-down(sm){
        display: block;
    }
}

.left-section{
    margin-top: 1.8rem;

    &>h1{
        margin-right: 3rem;
        margin-bottom: 0;
        @include media-breakpoint-down(lg){
            font-size: 45px;
            margin-right: 2rem;
        }
    }
    &>div{
        max-width: 375px;
        &>p{
            margin-bottom: 2rem;
        }
        @include media-breakpoint-down(lg){
            max-width: 275px;
        }
        @include media-breakpoint-down(md){
            max-width: 450px;
            margin-top: 0.85rem;
            margin-bottom: 4rem;
        }
    }
    
}

.left-button{
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    background: hsl(5, 85%, 63%);
    border: none;
    letter-spacing: 3px;
    padding: 10px 35px;
    padding: 11px 35px;
    font-size: 14px;
    &:hover{
        background-color: hsl(240, 100%, 5%);
        transition: background-color 0.2s ease-in-out
    }
}

.right-section{
    background-color: hsl(240, 100%, 5%);
    background-clip: content-box;
    &>div{
        border-bottom: 0.5px solid hsl(236, 13%, 42%);
        &:nth-last-of-type(1){
            border-bottom: none;
        }
    }

    h2{
        color: hsl(35, 77%, 62%);
        font-weight: 700;
        font-size: 2.3rem;
        padding-top: 1.9rem;
    }
    h3{
        color: white;
        font-size: 1.1rem;
        &:hover{
            color: hsl(35, 77%, 62%);
            transition: color 0.2s ease-in-out
        }
    }
    p{
        color: hsl(233, 8%, 79%);
        line-height: 25px;
    }
}

.bottom-section{
    margin-top: 4rem;
    @include media-breakpoint-down(lg){
        margin-top: 2rem;
    }
    @include media-breakpoint-down(md){
        margin-top: 3rem;
    }
    &>div{
        margin-right: 3rem;
        max-width: 350px;
        &:last-child{
            margin-right: 0;
        }
        @include media-breakpoint-down(md){
            margin-top: 1rem;
            margin-right: 0rem;
        }
        &>img{
            width: 100px;
            height: 125px;
        }
    }
}

.bottom-item{
    margin-left: 1.5rem;
    line-height: 25px;
    &>h3:hover{
        color: hsl(5, 85%, 63%);
        transition: color 0.2s ease-in-out
    }
}

.bottom-text{
    font-size: 14px;
}